<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
    html{
        background-color: darkgrey;
        box-sizing: border-box;
    }
    .wrapper-lista p
    {
        font-family: cursive;
        color: black;
    }
    .wrapper-lista{
        display: flex;
        width: 100%;
        padding: 2px;
        justify-content: center;
        margin: 1px;
        font-size: 50px;
    }
    .wrapper-lista h1{
        color: black;
    }

    
</style>
<body>
    <div class="wrapper-lista">
        <p><b>Randomnummer:</b></p>
        <p class>{{ett}} {{tva}} {{tre}}</p>
    </div>
</body>
</html>
